body {
    background: #493d3f;
    color: #e4e4e4;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif
}

.div-container{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.scoreboard {
    width: 15%;
    justify-self: center;
    background: #c97e8c2f;
}

#title {
    text-align: center;
    background: #c97e8c2f;
    padding: .2em;;
}

.desc {
    position: relative;
    display: flex;
    margin: .2em .5em .2em .5em;
}

.desc span:nth-child(1){
    align-self: flex-start;
}

.desc span:nth-child(2){
    position: absolute;
    right: 0;
}

.score-container {
    width: 100%;
}

.div-score-container {
    display: flex;
    height: 2em;
    max-height: 2em;
    align-items: center;
    gap: 10px;
    padding: .2em 0 .2em .5em;
    border: 1px solid #b47480a8
}

.div-score-container p {
    overflow-x: hidden;
}
.div-score-container span {
    width: 40%;
    text-align: center;
}

#screen {
    border: 5px dashed gray;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 400px;
    height: 400px;
    color: #92929256
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flex div{
    display: flex;
    flex-direction: column;
}

.flex div:nth-child(1){
    gap: .3em;
}

.flex div:nth-child(2){
    flex-direction: row;
    gap: .3em;
    align-self: center;
    align-items: center;
}

.flex div:nth-child(2) label:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.281);
}

.flex div:nth-child(2) input:hover{
    cursor: pointer;
}

.flex input[type=text]{
    background: transparent;
    border: none;
    border-bottom: .2em solid #c97e8c6c;
    border-radius: 0 0 .3em .3em;
    outline: none;
    color: white;
    font-size: large;
    padding: .2em 0 0 .2em
}

.flex input[type=text]:disabled{
    background: linear-gradient(to top, #c97e8c2f , transparent);
}

.flex input[type=color]{
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

button {
    align-self: center;
    border: none;
    background: #c97e8c6c;
    color: #e4e4e4;
    width: 60%;
    height: 3em;
    border-radius: 100px;
}

button:hover{
    cursor: pointer;
    background: #c97e8c23;
}